body {
  background-color: #f5f5f1;
  color: #474442;
  margin-top: 0;
}

.mainContainer {
  font-family: "Afacad Flux", sans-serif;
  max-width: 1440px;
  width: 100%;
  font-size: 32px;
  line-height: 1.8;
  margin: 0 auto;
  text-align: center;
}
