header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3a38a;
  text-align: center;
  margin-top: 0;
  height: 80px;
  -webkit-box-shadow: 0px 10px 15px -4px rgba(71, 68, 66, 0.62);
  -moz-box-shadow: 0px 10px 15px -4px rgba(71, 68, 66, 0.62);
  box-shadow: 0px 10px 15px -4px rgba(71, 68, 66, 0.62);
}

.headerText {
  margin: 0;
  font-family: "Dancing Script", cursive;
  font-size: 56px;
  color: #f5f5f1;
}
